<header>
	<h1 id="pageTitle">Welcome to Soccer Land</h1>
	<br>
	<div id="search">
		<%= form_tag search_results_path, method: :get do %>
		<%= text_field_tag :search_keywords %>
		<%= submit_tag 'Search' %>
		<% end %>
	</div>
</header>
<div id="allProductHeading">
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<% @pages.each do |page| %>
				<li><%= link_to page.name, page_path(page) %></li>
			<% end %>
		</ul>
	</nav>
</div>