<section class="singleProduct">

	<% if product.image.present? %>
		<%= image_tag product.image %>
	<% end %>
	<h3>
		<%= link_to product.name, product %>
	</h3>
	<div class="bottomSectionInformation">
		<p class="description"><%= product.description %></p>
		<p class="price"><strong><%= number_to_currency(product.price) %></strong></p>
		<p><%= link_to 'Set As Favorite Product', 	
						save_favourite_product_path(product),
						method: :post %>
		</p>
	</div>
</section>